/* Style/Error.css */

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
    color: #721c24;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .error-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .error-message {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .error-link {
    padding: 10px 20px;
    background-color: #721c24;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  .error-link:hover {
    background-color: #f1b0b7;
    transition: background-color 0.3s ease;
  }
  