.ListeDestinataireNewsletters {
  padding: 20px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 900px;
  margin: auto;
}

.ListeDestinataireNewsletters h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #f0f0f0;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

button {
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: #2573cd;
  color: white;
}

button:hover {
  background-color: #1b5ea8;
}

.ListeButtons {
  display: flex;
  justify-content: space-between;
}
