.PasswordForget {
  background: linear-gradient(to bottom right, #2573cd, #740aca);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.PasswordForget form {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
}

.PasswordForget h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.PasswordForget label {
  font-weight: bold;
}

.PasswordForget input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.PasswordForget button[type="submit"] {
  margin-top: 1rem;
  padding: 0.7rem;
  background-color: #2573cd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.PasswordForget button[type="submit"]:hover {
  background-color: #1a5bb0;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  font-size: 24px;
  border: none;
  cursor: pointer;
  color: white;
}

.infoText {
  margin-top: 0.5rem;
  text-align: center;
  color: #333;
  font-size: 0.9rem;
}
