.UpdateProfil {
  display: flex;
  justify-content: center;
  padding: 20px ;
  align-items: center;
  min-height: 10vh; /* occupe toute la hauteur de l'écran */
  background-color: #f0f2f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.UpdateProfil .card {
  background-color: #ffffff;
  padding: 20px 20px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.card h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 28px;
}

.profil-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profil-form label {
  font-weight: 600;
  color: #555;
}

.profil-form input {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.profil-form input:focus {
  border-color: #007bff;
  outline: none;
}

.profil-form button {
  margin-top: 20px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profil-form button:hover {
  background-color: #0056b3;
}
