name: Déploiement via FTP lors de la Pull Request vers Main

on:
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Configuration de PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, xml, ctype, json

      - name: Installation des dépendances PHP
        working-directory: ./
        run: composer install --no-dev --optimize-autoloader

      - name: Configuration de Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Installation des dépendances React
        working-directory: ./react
        run: npm install

      - name: Build de l'application React
        working-directory: ./react
        run: npm run build

      - name: Modification des droits
        working-directory: ./react/dist/
        run: chmod -R 777 ./

      - name: Déploiement vers le FTP Backend
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./
          server-dir: ./backend/
          exclude: |
            **/react/**
            **/.git/**
            **/.github/**
            **/.gitignore

      - name: Déploiement vers le FTP Frontend
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./react/dist/
          server-dir: /public_html/ 
          clean: true

